<h2>Sync Module</h2>

<p>
  sub-component works!
</p>

<ul>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, atque cumque debitis dolor ducimus fugit harum inventore labore maxime officia officiis omnis placeat sapiente soluta suscipit. Exercitationem explicabo officiis rem.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex expedita facilis ipsa provident? Ab adipisci animi, corporis deserunt ea facilis incidunt inventore ipsa iure magnam mollitia, nobis quam unde velit.</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda atque beatae, debitis ea error expedita ipsam libero neque non perferendis ratione rem repellat reprehenderit rerum soluta vitae? Dicta, totam.</li>
</ul>
