<h1>Test</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque aut consequatur deleniti laborum maiores nam saepe! Doloremque eaque error ipsam magni obcaecati rem rerum similique. Incidunt officia pariatur suscipit?</p>

<ul>
  <li><a routerLink="/sub">Sync /sub route (embedded module)</a></li>
  <li><a routerLink="/lazy">Async /lazy route (chunked module)</a></li>
  <li><a routerLink="/unknown">Unknown /unknown route (doesn't exist)</a></li>
</ul>

<router-outlet></router-outlet>
